@{
    ViewData["Title"] = "All Users";
}

<div class="row">
    <div class="col">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Phone Number</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody id="tableUsers"> </tbody>
        </table>
    </div>
</div>

@section scripts {
<script>
    $(document).ready(function () {
        $('.nav-item').removeClass('active');
        $('#navUsers').addClass('active');
        var UsersList = JSON.parse(localStorage.getItem('Users')) === null ? [] : JSON.parse(localStorage.getItem('Users'));
        var tbody = "";
        $.each(UsersList, function (key,item) {
            debugger;
          tbody += "<tr> <td>" + item.FullName + "</td><td>" + item.Email + "</td><td>" + item.Phone + "</td></tr>";
        });

        $("#tableUsers").html(tbody);
    });


</script>
}